*,
*::before,
*::after {
  box-sizing: border-box;
}

.app-brand-responsive{
    width: 210px;
    height: auto;
}

.user-logo, .sort-image{
    width: 25px;
    height: 25px;
}

.background-footer-color{
    background-color: rgb(64, 179, 250);
}

.btn-add-question, .btn-register,
.btn-save-modal{
    background-color: rgb(64, 179, 250) !important;
    border: none !important;
    border-radius: 15px !important;
    color: white !important;
    padding: 7px 13px !important;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19) !important;
    width: 150px !important;
}

.btn-login{
  background-color: rgb(64, 179, 250) !important;
  border: none !important;
  border-radius: 15px !important;
  color: white !important;
  padding: 7px 13px !important;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19) !important;
  width: 200px !important;
}

.btn-login:active{
  background-color: #ff7800 !important;
}

.btn-register:active{
  background-color: #ff7800 !important;
}

.btn-add-question:active{
  background-color: #ff7800 !important;
}

.btn-save-modal:active{
  background-color: #ff7800 !important;
}

.icon-camera, .icon-rubrics{
  width: 35px;
  height: 35px;
}

.icon-question{
  width: 33px;
  height: 33px;
}

.click{
  border: none;
  background-color: rgb(64, 179, 250);
}

.click:active{
  background-color: #ff7800 !important;
}

.dropdown-item:active{
  background-color: #ff7800 !important;
}